In [1]:
def multiply(a):
    b=1
    for x in a:
        b=b*x
    return b

list1 =[2,3,4,5]
multiply(list1)

120

In [2]:

def reversestring(word):
    result = ""
    for letter in word:
        result = letter + result
    print(result)

noraml_word = "Kuber"
reversestring(noraml_word)

rebuK

In [3]:
normal_word = "Kuber"
reversestring(normal_word)

def reversestring(word):
    result = ""
    i = 0
    while i < len(word):
        result = word[i] + result
        i+=1
    print(result)
        
noraml_word = "Kuber"
reversestring(noraml_word)

rebuK
rebuK

In [4]:
def addsub(a,b):
    
    add = a+b
    print(add)
    sub =a-b
    print(sub)
    
first_num = int(input())
second_num = int(input())
addsub(first_num,second_num)

2
2
4
0

In [5]:
def divtwelve(num):
    if num%12 ==0:
        print("The number is divisible by 12")
    else:
        print("The number is not divisible by 12")
        
    
    
num = int(input())
divtwelve(num)

45
The number is not divisible by 12

In [6]:
def daysweek(num):
    a = num//7 
    b = num%7 
    print("The number has",a,"weeks and",b,"days")
    
    
    
num = int(input())
daysweek(num)

89
The number has 12 weeks and 5 days

In [7]:
def fact(num):
    result=1
    for i in range(1,num+1):
        result = i*result 
    print(result)
    
    
num = 5    
fact(num)

120

In [8]:
def uniquelist(list1):
    result = set(list1)
    print(list(result))

list1 = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]
uniquelist(list1)

[1, 2, 3, 4, 5, 34, 7, 6, 654]

In [9]:
def simpleinterest(p,n,r):
    
    si = (p*n*r)/100
    print(si)
    
p = float(input())
n = float(input())
r = float(input())
simpleinterest(p,n,r)

50000
2
3
3000.0

In [10]:
def printmessage(name,message):
    print(name,'\n',message)
printmessage(name = 'kuber',message = 'Hello, Good Morning!')

kuber
 Hello, Good Morning!

In [11]:
def printmessage(name,age = 30):
    print(name,'\n',age)
printmessage(name = 'kuber')

kuber
 30

In [23]:
n = int(input())
a = lambda x:"even" if x%2==0 else "odd"
a(n)

5

'odd'

In [24]:
n = int(input())
a = lambda x:x*x
a(n)

4

16

In [25]:
n = int(input())
a =lambda x: x<10
a(n)

34

False

In [26]:
n = int(input())
a = lambda x:x+5
print(a(n))

34
39

In [56]:
lis1 = [12, 24, 36]
lis2 = [41, 54, 69]


list(map(lambda a,b:a+b,lis1,lis2))

[53, 78, 105]

In [13]:
arr = [1, 2, 3, 4, 5, 6, 7]
list(map(lambda a:a*a,arr))

[1, 4, 9, 16, 25, 36, 49]

In [16]:
arr1 = [1, 2, 3, 4, 5, 6, 7]
list(map(lambda a: "even" if a%2==0 else "odd",arr1))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [17]:
arr2 = [11, 12, 13, 14, 435, 6, 27]
list(map(lambda a: a//7,arr2))

[1, 1, 1, 2, 62, 0, 3]

In [54]:
arr3 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] 
list(filter(lambda a: a%2!=0,arr3))

[3, 43, 455, 43, 543]

In [34]:
arr4 = [1, 2, 3, 4, 5, 6]
list(filter(lambda a: a%2==0,arr4))

[2, 4, 6]

In [38]:
def evennum(arr5):
    result = []
    for a in arr5:
        if a%2==0:
            result.append(a)
    print(result)
            


arr5 = [2,3,5,3,6,3,7,4,6,7]
evennum(arr5)

[2, 6, 4, 6]

In [40]:
def evennum(arr5):
    result = []
    for a in arr5:
        if a%2!=0:
            result.append(a)
    print(result)
            


arr5 = [1, 12, 31, 4, 15, 6, 7]
evennum(arr5)

[1, 31, 15, 7]

In [61]:

arr6 = [1, 2, 3, 4]
reduce(lambda x,y: x*y, arr6)

24

In [62]:
arr7 = [ 11 , 13, 15, 16, 2,43 ]
reduce(lambda a,b:a+b,arr7)

100

In [68]:
arr8 = [543,7,6,4567,7,78,6,6,78,765,678]
reduce(lambda x,y: x if x>y else y,arr8)

4567

In [71]:
arr8 = [543,7,6,4567,7,78,6,6,78,765,678]
reduce(lambda x,y: x if x<y else y,arr8)

6