In [1]:
#IF Statement
#1
x=20
y=30
if x<y:
    print("x is less than y")

x is less than y

In [3]:
#2
theory = int(input())
practical = int(input())
total_score = theory + practical

if total_score>200:
    print("an error or a warning message")

140
145
an error or a warning message

In [5]:
Subject = input()
if Subject == 'Yes':
    print("Cleared the test")
else:
    print("Failed the test")

Yes
Cleared the test

In [8]:
Password = input("Enter the password: ")
if Password == 'Great':
    print("Password Accepted")
else:
    print("Wrong Password")

Enter the password: sdgfb
Wrong Password

In [20]:
Age = int(input())

if Age<=18:
    print("Minors who are not eligible to work")
elif 18<Age<60:
        print("ELigible to work")
elif Age>=60:
        print("Too old to work as per govt. regulations")

445
Too old to work as per govt. regulations

In [25]:
n = int(input())
i = 0
while i<=n:
    print(n)
    n-=1

8
8
7
6
5
4
3
2
1
0

In [42]:
n = int(input())
i = 1
while i<=n:
    a = i*i
    print(a)
    i+=1

10
1
4
9
16
25
36
49
64
81
100

In [49]:
n = int(input())
for i in range(1,n+1):
    a = n*i
    print(n,"x",i,"=",a)

10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [65]:
numbers = [1, 2, 3, 4, 5, 6]
square = []
for i in numbers:
    square = i*i
    print(square)

1
4
9
16
25
36

In [72]:
list = ['red','black','blue']
i = 0
while i < len(list):
    print(list[i])
    i+=1

red
black
blue

In [73]:
list = ['red','black','blue']
for i in list:
    print(i)

red
black
blue

In [ ]:
#LCM of two numbers

In [ ]:
#sum of series: 1 + 1/2 + 1/3 + â€¦.. + 1/N.

In [75]:
list = []
for i in range(0,11):
    i = i*i
    list.append(i)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
a = [x*x for x in range(0,11)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [83]:
list = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
a = [str(x) for x in list]
a

['0', '1', '4', '9', '16', '25', '36', '49', '64', '81', '100']

In [85]:
list1 = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
list2 = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

a = [(x,y) for x,y in zip(list1,list2)]
a

[(0, 0),
 (1, 1),
 (4, 4),
 (9, 9),
 (16, 16),
 (25, 25),
 (36, 36),
 (49, 49),
 (64, 64),
 (81, 81),
 (100, 100)]

In [87]:
list1 =[0,1] 
list2 =['zero','one']
a = [(x,y) for x,y in zip(list1,list2)]
a

[(0, 'zero'), (1, 'one')]

In [88]:
list1 =[0,1] 
list2 =['zero','one']
a = [(x,y) for x in list1 for y in list2]
a

[(0, 'zero'), (0, 'one'), (1, 'zero'), (1, 'one')]

In [93]:
list1 = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
a = [(i,j) for i,j in enumerate(list1)]
a

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100)]