In [138]:
list1 = ['hello','GUVI','GEEK']
rep = [i for i in list1 for x in range(0,2)]
rep

['hello', 'hello', 'GUVI', 'GUVI', 'GEEK', 'GEEK']

In [87]:
conc = list1+list1
conc

['hello', 'GUVI', 'GEEK', 'hello', 'GUVI', 'GEEK']

In [88]:
mem = 'GUVI' in list1
mem

True

In [89]:
length = len(list1)
length

3

In [90]:
list1=iter(list1)
print(next(list1))
print(next(list1))
print(next(list1))

hello
GUVI
GEEK

In [91]:
list1 = [15, 300, 2700, 821]
list2 = [12, 2]
list3 = [34, 567, 78]

list = list1+list2+list3
print(max(list))
print(min(list))

2700
2

In [97]:
list = ['k','u','b','e','r']
list

['k', 'u', 'b', 'e', 'r']

In [98]:
list = ['k','u','b','e','r']

list.append('s')
list

['k', 'u', 'b', 'e', 'r', 's']

In [99]:
list.clear()
list

[]

In [100]:
list2 = list.copy() 
print(list)
print(list2)

[]
[]

In [104]:
list = ['k','u','b','e','r']
list.count('k')
list.extend('k')
list

['k', 'u', 'b', 'e', 'r', 'k']

In [107]:
list.index('r')

4

In [112]:
list.insert(3,'p')
list

['k', 'u', 'b', 'p', 'p', 'p', 'e', 'r', 'k']

In [118]:
list.pop()
list

['k', 'u', 'b']

In [120]:
list = ['k','u','b','e','r']
list.remove('e')    
list

['k', 'u', 'b', 'r']

In [122]:
list = ['k','u','b','e','r']
list.reverse() 
list
list.sort()
list

['b', 'e', 'k', 'r', 'u']

In [154]:
Tuple1 = (1,2,3,4)
Tuple2 = (1,2,3,4)

rep = Tuple1*2
rep

(1, 2, 3, 4, 1, 2, 3, 4)

In [155]:
Tuple1 = (1,2,3,4)
Tuple2 = (5,6,7,8)

con = Tuple1+Tuple2
con

(1, 2, 3, 4, 5, 6, 7, 8)

In [157]:
Tuple1 = (1,2,3,4)
mem = print(0 in Tuple1)

False

In [158]:
Tuple1 = (1,2,3,4)
print(len(Tuple1))

4

In [159]:
Tuple1 = (1,2,3,4)
for i in Tuple1:
    print(i)

1
2
3
4

In [165]:
Tuple1 = (1,2,3,4)
Tuple2 = (5,6,7,8)

con = Tuple1+Tuple2
con

print(max(con)) 
print(min(con)) 

Tuple = 'qwerty'
tuple(Tuple)

8
1

TypeError: 'tuple' object is not callable

In [172]:
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}

Union = print(Set1|Set2)
Intersection = print(Set1&Set2)
Difference = print(Set1-Set2)
SymmetricDifference = print(Set1 ˆ Set2)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3220951165.py, line 7)

In [178]:
dict = {'Name': 'Student', 'Age': 27}
len(dict)

2

In [179]:
str(dict)

"{'Name': 'Student', 'Age': 27}"

In [180]:
type(dict)

dict

In [181]:
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dict.clear()
dict

{}

In [183]:
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dict1 = dict.copy()
print(dict)
print(dict1)

{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}
{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}

In [191]:
dict1 = {0:" Kuber",1: "Jegatha", 2: "Prijith",3:"Nivin",4:"Amma",5:"Appa",6:"Akka"}
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
print(dict.fromkeys(dict1,100))
print(dict1)
print(dict)

{0: 100, 1: 100, 2: 100, 3: 100, 4: 100, 5: 100, 6: 100}
{0: ' Kuber', 1: 'Jegatha', 2: 'Prijith', 3: 'Nivin', 4: 'Amma', 5: 'Appa', 6: 'Akka'}
{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}

In [196]:
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
print(dict.get(0))

 Data

In [197]:
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dict.items()

dict_items([(0, ' Data'), (1, 'GUVI'), (2, 'GEEK'), (3, 'Python'), (4, 'Happy')])

In [199]:
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dict.keys()

dict_keys([0, 1, 2, 3, 4])

In [201]:
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dict.values()

dict_values([' Data', 'GUVI', 'GEEK', 'Python', 'Happy'])

In [208]:
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
print(dict.items())
print(dict.keys())
print(dict.values())
print(dict.setdefault("AIML"))
print(dict)

dict_items([(0, ' Data'), (1, 'GUVI'), (2, 'GEEK'), (3, 'Python'), (4, 'Happy')])
dict_keys([0, 1, 2, 3, 4])
dict_values([' Data', 'GUVI', 'GEEK', 'Python', 'Happy'])
None
{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy', 'AIML': None}

In [211]:
dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dict1 = {0:"kuber", 1:"AIML"}
dict.update(dict1) 
print(dict)

{0: 'kuber', 1: 'AIML', 2: 'GEEK', 3: 'Python', 4: 'Happy'}

In [218]:
if 13>25:
    print("13 is greater")

In [220]:
a = int(input("enter a number"))
if a%25==0:
    print("The number a is divisible by 25")
else:
        print("The number a is not divisible by 25")

enter a number159
The number a is not divisible by 25

In [266]:
a = 10
b = 202
c = 30

if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

202